1. Write a formula which can be dragged right and down to generate a multiplication table.
(Generate Multiplication Table.xlsx)

In [1]:
import pandas as pd

In [2]:
file = 'F:\\Full Stack Data Scientist Course\\Excel Assignment\\Generate Multiplication Table.xlsx'

In [3]:
df = pd.read_excel(file)

In [4]:
df.head()

   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
0   2 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
1   3 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2   4 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
3   5 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
4   6 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

In [5]:
def multiplication_table(df):
    row = len(df.index)
    col = len(df.columns)
    for num in range(2,col+1):
        for i,multipler in enumerate(df[1]):
            df.at[i,num] = int(num * multipler)

In [6]:
multiplication_table(df)

In [7]:
df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,2,4.0,6.0,8.0,10.0,12.0,14.0,16.0,18.0,20.0,22.0,24.0,26.0,28.0,30.0
1,3,6.0,9.0,12.0,15.0,18.0,21.0,24.0,27.0,30.0,33.0,36.0,39.0,42.0,45.0
2,4,8.0,12.0,16.0,20.0,24.0,28.0,32.0,36.0,40.0,44.0,48.0,52.0,56.0,60.0
3,5,10.0,15.0,20.0,25.0,30.0,35.0,40.0,45.0,50.0,55.0,60.0,65.0,70.0,75.0
4,6,12.0,18.0,24.0,30.0,36.0,42.0,48.0,54.0,60.0,66.0,72.0,78.0,84.0,90.0
5,7,14.0,21.0,28.0,35.0,42.0,49.0,56.0,63.0,70.0,77.0,84.0,91.0,98.0,105.0
6,8,16.0,24.0,32.0,40.0,48.0,56.0,64.0,72.0,80.0,88.0,96.0,104.0,112.0,120.0
7,9,18.0,27.0,36.0,45.0,54.0,63.0,72.0,81.0,90.0,99.0,108.0,117.0,126.0,135.0
8,10,20.0,30.0,40.0,50.0,60.0,70.0,80.0,90.0,100.0,110.0,120.0,130.0,140.0,150.0
9,11,22.0,33.0,44.0,55.0,66.0,77.0,88.0,99.0,110.0,121.0,132.0,143.0,154.0,165.0
10,12,24.0,36.0,48.0,60.0,72.0,84.0,96.0,108.0,120.0,132.0,144.0,156.0,168.0,180.0
11,13,26.0,39.0,52.0,65.0,78.0,91.0,104.0,117.0,130.0,143.0,156.0,169.0,182.0,195.0
12,14,28.0,42.0,56.0,70.0,84.0,98.0,112.0,126.0,140.0,154.0,168.0,182.0,196.0,210.0
13,15,30.0,45.0,60.0,75.0,90.0,105.0,120.0,135.0,150.0,165.0,180.0,195.0,210.0,225.0